# pip install phidata fastapi python-multipart uvicorn PyPDF2 python-dotenv openai duckduckgo-search
pip install "phidata[all]" fastapi python-multipart uvicorn PyPDF2 python-dotenv duckduckgo-search openai
pip install duckduckgo-search